{"swagger": "2.0", "info": {"title": "Dance CRM API", "description": "API for Dance Studio Management System. Manage studios, trainers, appointment slots, bookings, and reviews.", "termsOfService": "https://www.google.com/policies/terms/", "contact": {"email": "contact@dancecrm.com"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "dance.arlidi.dev", "schemes": ["http", "https"], "basePath": "/api/v1", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Bearer": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"Bearer": []}], "paths": {"/auth/accounts/": {"get": {"operationId": "auth_accounts_list", "summary": "List accounts", "description": "List all user accounts (excluding superusers)", "parameters": [{"name": "email", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Account"}}}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden - Admin access required"}}, "tags": ["Accounts - Admin"]}, "post": {"operationId": "auth_accounts_create", "summary": "Create account", "description": "Create a new user account", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Account"}}, "400": {"description": "Bad Request - Invalid data"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden - Admin access required"}}, "tags": ["Accounts - Admin"]}, "parameters": []}, "/auth/accounts/{uuid}/": {"get": {"operationId": "auth_accounts_read", "summary": "Get account details", "description": "Retrieve a specific user account by ID", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden - Admin access required"}, "404": {"description": "Account not found"}}, "tags": ["Accounts - Admin"]}, "put": {"operationId": "auth_accounts_update", "summary": "Update account", "description": "Update a user account (full update)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}, "400": {"description": "Bad Request - Invalid data"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden - Admin access required"}, "404": {"description": "Account not found"}}, "tags": ["Accounts - Admin"]}, "patch": {"operationId": "auth_accounts_partial_update", "summary": "Partial update account", "description": "Partially update a user account", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}, "400": {"description": "Bad Request - Invalid data"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden - Admin access required"}, "404": {"description": "Account not found"}}, "tags": ["Accounts - Admin"]}, "delete": {"operationId": "auth_accounts_delete", "summary": "Delete account", "description": "Delete a user account", "parameters": [], "responses": {"204": {"description": "Account deleted successfully"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden - Admin access required"}, "404": {"description": "Account not found"}}, "tags": ["Accounts - Admin"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Account.", "required": true, "type": "string", "format": "uuid"}]}, "/auth/login/": {"post": {"operationId": "auth_login_create", "description": "Takes a set of user credentials and returns an access and refresh JSON web\ntoken pair to prove the authentication of those credentials.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TokenObtainPair"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TokenObtainPair"}}}, "tags": ["auth"]}, "parameters": []}, "/auth/my_account/": {"get": {"operationId": "auth_my_account_read", "summary": "Get my account", "description": "Get the authenticated user's account information", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}, "401": {"description": "Unauthorized - Authentication required"}}, "tags": ["Accounts - User"]}, "put": {"operationId": "auth_my_account_update", "description": "Retrieve and update the authenticated user's account information.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["auth"]}, "patch": {"operationId": "auth_my_account_partial_update", "summary": "Update my account", "description": "Update the authenticated user's account information (partial update)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}, "400": {"description": "Bad Request - Invalid data"}, "401": {"description": "Unauthorized - Authentication required"}}, "tags": ["Accounts - User"]}, "parameters": []}, "/auth/my_account/{id}": {"get": {"operationId": "auth_my_account_read", "summary": "Get my account", "description": "Get the authenticated user's account information", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}, "401": {"description": "Unauthorized - Authentication required"}}, "tags": ["Accounts - User"]}, "put": {"operationId": "auth_my_account_update", "description": "Retrieve and update the authenticated user's account information.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["auth"]}, "patch": {"operationId": "auth_my_account_partial_update", "summary": "Update my account", "description": "Update the authenticated user's account information (partial update)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}, "400": {"description": "Bad Request - Invalid data"}, "401": {"description": "Unauthorized - Authentication required"}}, "tags": ["Accounts - User"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/auth/password-reset-confirm/": {"post": {"operationId": "auth_password-reset-confirm_create", "summary": "Confirm password reset", "description": "Confirm password reset with the verification code and set a new password. Returns JWT tokens upon success.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["code", "password"], "type": "object", "properties": {"code": {"description": "Password reset verification code", "type": "string"}, "password": {"description": "New password", "type": "string"}}, "example": {"code": "123456", "password": "NewSecurePassword123!"}}}], "responses": {"200": {"description": "Password changed successfully", "examples": {"application/json": {"status": "Password is changed", "access": "eyJ0eXAiOiJKV1QiLCJhbGc...", "refresh": "eyJ0eXAiOiJKV1QiLCJhbGc..."}}}, "400": {"description": "Invalid code, missing password, or password same as current", "examples": {"application/json": {"status": "Invalid code or expired", "code": 1}}}}, "tags": ["Authentication"]}, "parameters": []}, "/auth/password-reset-form/": {"post": {"operationId": "auth_password-reset-form_create", "summary": "Request password reset", "description": "Request a password reset code. If the username exists and is active, a reset code will be sent to the user's email.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PasswordReset"}}], "responses": {"201": {"description": "Reset code sent", "examples": {"application/json": {"message": "User emailed"}}}, "400": {"description": "Bad Request - Invalid data"}}, "tags": ["Authentication"]}, "parameters": []}, "/auth/password-reset/": {"post": {"operationId": "auth_password-reset_create", "summary": "Change password", "description": "Change the password for the authenticated user. Requires the current password for verification. Returns new JWT tokens.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["current_password", "password"], "type": "object", "properties": {"current_password": {"description": "Current password", "type": "string"}, "password": {"description": "New password", "type": "string"}}, "example": {"current_password": "CurrentPassword123!", "password": "NewSecurePassword123!"}}}], "responses": {"200": {"description": "Password changed successfully", "examples": {"application/json": {"status": "Password is changed", "access": "eyJ0eXAiOiJKV1QiLCJhbGc...", "refresh": "eyJ0eXAiOiJKV1QiLCJhbGc..."}}}, "400": {"description": "Current password incorrect or new password same as current", "examples": {"application/json": {"status": "Current password not correct", "code": 3}}}, "401": {"description": "Unauthorized - Authentication required"}}, "tags": ["Accounts - User"]}, "parameters": []}, "/auth/refresh/": {"post": {"operationId": "auth_refresh_create", "description": "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TokenRefresh"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TokenRefresh"}}}, "tags": ["auth"]}, "parameters": []}, "/auth/registration/": {"post": {"operationId": "auth_registration_create", "summary": "Register new account", "description": "Register a new user account. A confirmation email will be sent to the provided email address.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Registration"}}], "responses": {"201": {"description": "Account created successfully", "schema": {"$ref": "#/definitions/Registration"}, "examples": {"application/json": {"username": "john_doe", "email": "john@example.com", "first_name": "John", "last_name": "Doe"}}}, "400": {"description": "Bad Request - Invalid data or user already exists"}}, "tags": ["Authentication"]}, "parameters": []}, "/auth/registration/confirm/": {"post": {"operationId": "auth_registration_confirm_create", "summary": "Confirm email", "description": "Confirm email address using the verification code. Returns JWT tokens upon successful confirmation.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["code"], "type": "object", "properties": {"code": {"description": "Email confirmation code", "type": "string"}}, "example": {"code": "123456"}}}], "responses": {"200": {"description": "Email confirmed successfully", "examples": {"application/json": {"status": "Email confirmed", "access": "eyJ0eXAiOiJKV1QiLCJhbGc...", "refresh": "eyJ0eXAiOiJKV1QiLCJhbGc..."}}}, "400": {"description": "Invalid code or expired / Confirmation not allowed", "examples": {"application/json": {"error": "Confirm email is not allowed", "code": "CONFIRM_EMAIL_NOT_ALLOWED"}}}}, "tags": ["Authentication"]}, "parameters": []}, "/auth/resend-code/": {"post": {"operationId": "auth_resend-code_create", "summary": "Resend verification code", "description": "Resend a verification code. Purpose: '0' for email confirmation, '1' for password reset.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["username", "purpose"], "type": "object", "properties": {"username": {"description": "Username", "type": "string"}, "purpose": {"description": "Code purpose: 0=email confirmation, 1=password reset", "type": "string", "enum": ["0", "1"]}}, "example": {"username": "john_doe", "purpose": "0"}}}], "responses": {"201": {"description": "Code resent successfully", "examples": {"application/json": {"message": "Code resent"}}}, "400": {"description": "User not found", "examples": {"application/json": {"message": "User not found", "code": 2}}}}, "tags": ["Authentication"]}, "parameters": []}, "/auth/verify/": {"post": {"operationId": "auth_verify_create", "description": "Takes a token and indicates if it is valid.  This view provides no\ninformation about a token's fitness for a particular use.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TokenVerify"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TokenVerify"}}}, "tags": ["auth"]}, "parameters": []}, "/studios/bookings/": {"get": {"operationId": "studios_bookings_list", "summary": "List bookings", "description": "List bookings. Clients see their bookings, studio owners see bookings for their studios. Payment is done on-site at the studio.", "parameters": [{"name": "client", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studio", "in": "query", "description": "Filter by studio UUID", "type": "string"}, {"name": "appointment_slot", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "Filter by status", "type": "string"}, {"name": "attended", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "booking_date_from", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "booking_date_to", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Booking"}}}, "401": {"description": "Unauthorized"}}, "tags": ["Bookings"]}, "post": {"operationId": "studios_bookings_create", "summary": "Create booking", "description": "Create a new booking for an appointment slot. Price is shown for reference - payment is done on-site at the studio.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Booking"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Booking"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}, "tags": ["Bookings"]}, "parameters": []}, "/studios/bookings/{uuid}/": {"get": {"operationId": "studios_bookings_read", "summary": "Get booking", "description": "Get booking details", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Booking"}}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Bookings"]}, "put": {"operationId": "studios_bookings_update", "summary": "Update booking", "description": "Update booking (client or studio owner)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Booking"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Booking"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Bookings"]}, "patch": {"operationId": "studios_bookings_partial_update", "summary": "Partial update booking", "description": "Partially update booking (client or studio owner)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Booking"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Booking"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Bookings"]}, "delete": {"operationId": "studios_bookings_delete", "description": "ViewSet for managing bookings.\nClients can create bookings, studio owners and clients can view their bookings.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["studios"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Booking.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/bookings/{uuid}/cancel/": {"post": {"operationId": "studios_bookings_cancel", "summary": "Cancel booking", "description": "Cancel a booking", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Booking"}}], "responses": {"200": {"description": "Booking cancelled"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Bookings"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Booking.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/bookings/{uuid}/mark_attendance/": {"post": {"operationId": "studios_bookings_mark_attendance", "summary": "Mark attendance", "description": "Mark attendance for a booking (studio owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {"attended": {"description": "Attended status", "type": "boolean"}}}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Booking"}}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Bookings"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Booking.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/dance-styles/": {"get": {"operationId": "studios_dance-styles_list", "summary": "List dance styles", "description": "List all dance styles", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DanceStyle"}}}}, "tags": ["Dance Styles"]}, "post": {"operationId": "studios_dance-styles_create", "summary": "Create dance style", "description": "Create a new dance style (admin only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DanceStyle"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DanceStyle"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}, "tags": ["Dance Styles"]}, "parameters": []}, "/studios/dance-styles/{uuid}/": {"get": {"operationId": "studios_dance-styles_read", "summary": "Get dance style", "description": "Retrieve a specific dance style", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DanceStyle"}}, "404": {"description": "Not found"}}, "tags": ["Dance Styles"]}, "put": {"operationId": "studios_dance-styles_update", "summary": "Update dance style", "description": "Update a dance style (admin only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DanceStyle"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DanceStyle"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not found"}}, "tags": ["Dance Styles"]}, "patch": {"operationId": "studios_dance-styles_partial_update", "summary": "Partial update dance style", "description": "Partially update a dance style (admin only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DanceStyle"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DanceStyle"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not found"}}, "tags": ["Dance Styles"]}, "delete": {"operationId": "studios_dance-styles_delete", "summary": "Delete dance style", "description": "Delete a dance style (admin only)", "parameters": [], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not found"}}, "tags": ["Dance Styles"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Dance Style.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/images/": {"get": {"operationId": "studios_images_list", "summary": "List images", "description": "List studio images", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/StudioImage"}}}}, "tags": ["Studio Images"]}, "post": {"operationId": "studios_images_create", "summary": "Upload image", "description": "Upload studio image (studio owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StudioImage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/StudioImage"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "tags": ["Studio Images"]}, "parameters": []}, "/studios/images/{uuid}/": {"get": {"operationId": "studios_images_read", "description": "ViewSet for managing studio images.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StudioImage"}}}, "tags": ["studios"]}, "put": {"operationId": "studios_images_update", "description": "ViewSet for managing studio images.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StudioImage"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StudioImage"}}}, "tags": ["studios"]}, "patch": {"operationId": "studios_images_partial_update", "description": "ViewSet for managing studio images.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StudioImage"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StudioImage"}}}, "tags": ["studios"]}, "delete": {"operationId": "studios_images_delete", "summary": "Delete image", "description": "Delete studio image (studio owner only)", "parameters": [], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Studio Images"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Studio Image.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/reviews/": {"get": {"operationId": "studios_reviews_list", "summary": "List reviews", "description": "List all reviews. Filter by studio, rating, etc.", "parameters": [{"name": "studio", "in": "query", "description": "Filter by studio UUID", "type": "string"}, {"name": "client", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "rating", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "is_verified_booking", "in": "query", "description": "Only verified bookings", "type": "boolean"}, {"name": "is_active", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "min_rating", "in": "query", "description": "Minimum rating", "type": "integer"}, {"name": "max_rating", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "has_response", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Review"}}}}, "tags": ["Reviews"]}, "post": {"operationId": "studios_reviews_create", "summary": "Create review", "description": "Create a review for a studio", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Review"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Review"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}, "tags": ["Reviews"]}, "parameters": []}, "/studios/reviews/{uuid}/": {"get": {"operationId": "studios_reviews_read", "summary": "Get review", "description": "Get review details", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Review"}}, "404": {"description": "Not found"}}, "tags": ["Reviews"]}, "put": {"operationId": "studios_reviews_update", "summary": "Update review", "description": "Update review (author only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Review"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Review"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Reviews"]}, "patch": {"operationId": "studios_reviews_partial_update", "summary": "Partial update review", "description": "Partially update review (author or studio owner for response)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Review"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Review"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Reviews"]}, "delete": {"operationId": "studios_reviews_delete", "summary": "Delete review", "description": "Delete review (author only)", "parameters": [], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Reviews"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Review.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/reviews/{uuid}/respond/": {"post": {"operationId": "studios_reviews_respond", "summary": "Add studio response", "description": "Add studio response to review (studio owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["studio_response"], "type": "object", "properties": {"studio_response": {"description": "Studio response text", "type": "string"}}}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Review"}}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Reviews"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Review.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/slots/": {"get": {"operationId": "studios_slots_list", "summary": "List appointment slots", "description": "List appointment slots. Filter by studio, date, status, etc.", "parameters": [{"name": "studio", "in": "query", "description": "Filter by studio UUID", "type": "string"}, {"name": "trainer", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "dance_style", "in": "query", "description": "Filter by dance style UUID", "type": "string"}, {"name": "status", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studio_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "Start date (YYYY-MM-DD)", "type": "string"}, {"name": "end_date", "in": "query", "description": "End date (YYYY-MM-DD)", "type": "string"}, {"name": "start_time_after", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "start_time_before", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "available_only", "in": "query", "description": "Show only available slots", "type": "boolean"}, {"name": "min_price", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "max_price", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AppointmentSlot"}}}}, "tags": ["Appointment Slots"]}, "post": {"operationId": "studios_slots_create", "summary": "Create slot", "description": "Create appointment slot (studio owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppointmentSlot"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AppointmentSlot"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "tags": ["Appointment Slots"]}, "parameters": []}, "/studios/slots/{uuid}/": {"get": {"operationId": "studios_slots_read", "summary": "Get slot details", "description": "Get appointment slot details", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppointmentSlot"}}, "404": {"description": "Not found"}}, "tags": ["Appointment Slots"]}, "put": {"operationId": "studios_slots_update", "summary": "Update slot", "description": "Update appointment slot (studio owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppointmentSlot"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppointmentSlot"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Appointment Slots"]}, "patch": {"operationId": "studios_slots_partial_update", "summary": "Partial update slot", "description": "Partially update appointment slot (studio owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppointmentSlot"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppointmentSlot"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Appointment Slots"]}, "delete": {"operationId": "studios_slots_delete", "summary": "Delete slot", "description": "Delete appointment slot (studio owner only)", "parameters": [], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Appointment Slots"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Appointment Slot.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/studios/": {"get": {"operationId": "studios_studios_list", "summary": "List studios", "description": "List all studios. Supports filtering by city, dance style, rating, and location (map view).", "parameters": [{"name": "city", "in": "query", "description": "Filter by city", "type": "string"}, {"name": "country", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "Search in name, description, address", "type": "string"}, {"name": "dance_style", "in": "query", "description": "Filter by dance style UUID", "type": "string"}, {"name": "dance_style_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "min_rating", "in": "query", "description": "Minimum rating", "type": "number"}, {"name": "max_rating", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "latitude", "in": "query", "description": "Latitude for map search", "type": "number"}, {"name": "longitude", "in": "query", "description": "Longitude for map search", "type": "number"}, {"name": "radius", "in": "query", "description": "Search radius in km (default 10)", "type": "number"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/StudioList"}}}}, "tags": ["Studios"]}, "post": {"operationId": "studios_studios_create", "summary": "Create studio", "description": "Create a new studio (requires STUDIO_OWNER role)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Studio"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Studio"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "tags": ["Studios"]}, "parameters": []}, "/studios/studios/{uuid}/": {"get": {"operationId": "studios_studios_read", "summary": "Get studio details", "description": "Retrieve detailed information about a specific studio", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Studio"}}, "404": {"description": "Not found"}}, "tags": ["Studios"]}, "put": {"operationId": "studios_studios_update", "summary": "Update studio", "description": "Update studio information (owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Studio"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Studio"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Studios"]}, "patch": {"operationId": "studios_studios_partial_update", "summary": "Partial update studio", "description": "Partially update studio information (owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Studio"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Studio"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Studios"]}, "delete": {"operationId": "studios_studios_delete", "summary": "Delete studio", "description": "Delete a studio (owner only)", "parameters": [], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Studios"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Studio.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/studios/{uuid}/reviews/": {"get": {"operationId": "studios_studios_reviews_read", "summary": "Get studio reviews", "description": "Get reviews for a specific studio", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Review"}}}}, "tags": ["Studios"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Studio.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/studios/{uuid}/slots/": {"get": {"operationId": "studios_studios_slots_read", "summary": "Get studio slots", "description": "Get appointment slots for a specific studio", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AppointmentSlot"}}}}, "tags": ["Studios"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Studio.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/subscriptions/": {"get": {"operationId": "studios_subscriptions_list", "summary": "List subscriptions", "description": "List studio subscriptions", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/StudioSubscription"}}}, "401": {"description": "Unauthorized"}}, "tags": ["Studio Subscriptions"]}, "post": {"operationId": "studios_subscriptions_create", "summary": "Create subscription", "description": "Create a new subscription for studio", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StudioSubscription"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/StudioSubscription"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}, "tags": ["Studio Subscriptions"]}, "parameters": []}, "/studios/subscriptions/{uuid}/": {"get": {"operationId": "studios_subscriptions_read", "summary": "Get subscription", "description": "Get subscription details", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StudioSubscription"}}, "401": {"description": "Unauthorized"}, "404": {"description": "Not found"}}, "tags": ["Studio Subscriptions"]}, "put": {"operationId": "studios_subscriptions_update", "description": "ViewSet for managing studio subscriptions.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StudioSubscription"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StudioSubscription"}}}, "tags": ["studios"]}, "patch": {"operationId": "studios_subscriptions_partial_update", "description": "ViewSet for managing studio subscriptions.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StudioSubscription"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StudioSubscription"}}}, "tags": ["studios"]}, "delete": {"operationId": "studios_subscriptions_delete", "description": "ViewSet for managing studio subscriptions.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["studios"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Studio Subscription.", "required": true, "type": "string", "format": "uuid"}]}, "/studios/trainers/": {"get": {"operationId": "studios_trainers_list", "summary": "List trainers", "description": "List all trainers. Filter by studio or trainer.", "parameters": [{"name": "studio", "in": "query", "description": "Filter by studio UUID", "type": "string"}, {"name": "trainer", "in": "query", "description": "Filter by trainer UUID", "type": "string"}, {"name": "is_active", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "dance_style", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "current_only", "in": "query", "description": "Show only current trainers", "type": "boolean"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/StudioTrainer"}}}}, "tags": ["Studio Trainers"]}, "post": {"operationId": "studios_trainers_create", "summary": "Add trainer", "description": "Add a trainer to studio (studio owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StudioTrainer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/StudioTrainer"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "tags": ["Studio Trainers"]}, "parameters": []}, "/studios/trainers/{uuid}/": {"get": {"operationId": "studios_trainers_read", "summary": "Get trainer", "description": "Get trainer details", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StudioTrainer"}}, "404": {"description": "Not found"}}, "tags": ["Studio Trainers"]}, "put": {"operationId": "studios_trainers_update", "summary": "Update trainer", "description": "Update trainer information (studio owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StudioTrainer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StudioTrainer"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Studio Trainers"]}, "patch": {"operationId": "studios_trainers_partial_update", "summary": "Partial update trainer", "description": "Partially update trainer information (studio owner only)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StudioTrainer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StudioTrainer"}}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Studio Trainers"]}, "delete": {"operationId": "studios_trainers_delete", "summary": "Remove trainer", "description": "Remove trainer from studio (studio owner only)", "parameters": [], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}, "404": {"description": "Not found"}}, "tags": ["Studio Trainers"]}, "parameters": [{"name": "uuid", "in": "path", "description": "A UUID string identifying this Studio Trainer.", "required": true, "type": "string", "format": "uuid"}]}}, "definitions": {"Account": {"required": ["username"], "type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "username": {"title": "Account username/IIN", "type": "string", "maxLength": 50, "minLength": 1}, "first_name": {"title": "First name of user", "type": "string", "maxLength": 150}, "last_name": {"title": "Last name of user", "type": "string", "maxLength": 150}, "roles": {"title": "Roles", "type": "string", "readOnly": true}, "middle_name": {"title": "Middle name of user", "type": "string", "maxLength": 150, "x-nullable": true}, "email": {"title": "Email address of user", "type": "string", "format": "email", "maxLength": 150, "minLength": 1, "x-nullable": true}, "gender": {"title": "Gender", "type": "string", "enum": ["M", "F"], "x-nullable": true}, "phone_number": {"title": "Phone number", "type": "string", "maxLength": 15, "x-nullable": true}}}, "TokenObtainPair": {"required": ["username", "password"], "type": "object", "properties": {"username": {"title": "Username", "type": "string", "minLength": 1}, "password": {"title": "Password", "type": "string", "minLength": 1}}}, "PasswordReset": {"type": "object", "properties": {"iin": {"title": "Iin", "type": "string", "minLength": 1}, "password": {"title": "Password", "type": "string", "minLength": 1}}}, "TokenRefresh": {"required": ["refresh"], "type": "object", "properties": {"refresh": {"title": "Refresh", "type": "string", "minLength": 1}}}, "Registration": {"required": ["username", "email", "first_name", "last_name", "gender", "phone_number", "password", "role"], "type": "object", "properties": {"username": {"title": "Username", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "format": "email", "minLength": 1}, "first_name": {"title": "First name", "type": "string", "minLength": 1}, "last_name": {"title": "Last name", "type": "string", "minLength": 1}, "middle_name": {"title": "Middle name", "type": "string", "x-nullable": true}, "gender": {"title": "Gender", "type": "string", "minLength": 1}, "phone_number": {"title": "Phone number", "type": "string", "minLength": 1}, "password": {"title": "Password", "type": "string", "minLength": 1}, "role": {"title": "Role", "type": "string", "minLength": 1}}}, "TokenVerify": {"required": ["token"], "type": "object", "properties": {"token": {"title": "Token", "type": "string", "minLength": 1}}}, "DanceStyle": {"required": ["name"], "type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 1000, "minLength": 1}, "code": {"title": "Code", "type": "string", "maxLength": 100, "x-nullable": true}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "is_active": {"title": "Active", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "updated": {"title": "Updated", "type": "string", "format": "date-time", "readOnly": true}}}, "StudioTrainer": {"required": ["studio", "trainer"], "type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "studio": {"title": "Studio", "type": "string", "format": "uuid"}, "studio_details": {"title": "Studio details", "type": "string", "readOnly": true}, "trainer": {"title": "Trainer", "description": "Account with TRAINER role", "type": "string", "format": "uuid"}, "trainer_details": {"$ref": "#/definitions/Account"}, "specialization": {"type": "array", "items": {"title": "Specializations", "type": "string", "format": "uuid"}, "uniqueItems": true}, "specialization_details": {"type": "array", "items": {"$ref": "#/definitions/DanceStyle"}, "readOnly": true}, "bio": {"title": "Trainer Bio", "type": "string", "x-nullable": true}, "hourly_rate": {"title": "Hourly Rate", "type": "string", "format": "decimal", "x-nullable": true}, "start_date": {"title": "Start Date", "type": "string", "format": "date"}, "end_date": {"title": "End Date", "description": "If trainer leaves the studio", "type": "string", "format": "date", "x-nullable": true}, "is_current": {"title": "Is current", "type": "boolean", "readOnly": true}, "is_active": {"title": "Active", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "updated": {"title": "Updated", "type": "string", "format": "date-time", "readOnly": true}}}, "AppointmentSlot": {"required": ["studio", "start_time", "end_time", "title", "price"], "type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "studio": {"title": "Studio", "type": "string", "format": "uuid"}, "studio_details": {"title": "Studio details", "type": "string", "readOnly": true}, "trainer": {"title": "Trainer", "type": "string", "format": "uuid", "x-nullable": true}, "trainer_details": {"$ref": "#/definitions/StudioTrainer"}, "dance_style": {"title": "Dance Style", "type": "string", "format": "uuid", "x-nullable": true}, "dance_style_details": {"$ref": "#/definitions/DanceStyle"}, "start_time": {"title": "Start Time", "type": "string", "format": "date-time"}, "end_time": {"title": "End Time", "type": "string", "format": "date-time"}, "duration_minutes": {"title": "Duration (minutes)", "type": "integer", "maximum": 2147483647, "minimum": 0}, "title": {"title": "Class Title", "description": "e.g., 'Beginner Ballet Class'", "type": "string", "maxLength": 255, "minLength": 1}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "max_participants": {"title": "Max Participants", "type": "integer", "maximum": 2147483647, "minimum": 1}, "current_bookings": {"title": "Current Bookings", "type": "integer", "readOnly": true}, "price": {"title": "Price", "type": "string", "format": "decimal"}, "status": {"title": "Status", "type": "string", "enum": ["AVAILABLE", "BOOKED", "COMPLETED", "CANCELLED"]}, "is_available": {"title": "Is available", "type": "boolean", "readOnly": true}, "spots_remaining": {"title": "Spots remaining", "type": "integer", "readOnly": true}, "is_active": {"title": "Active", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "updated": {"title": "Updated", "type": "string", "format": "date-time", "readOnly": true}}}, "Booking": {"required": ["appointment_slot", "client"], "type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "appointment_slot": {"title": "Appointment Slot", "type": "string", "format": "uuid"}, "appointment_slot_details": {"$ref": "#/definitions/AppointmentSlot"}, "client": {"title": "Client", "description": "Account with CLIENT role", "type": "string", "format": "uuid"}, "client_details": {"$ref": "#/definitions/Account"}, "booking_date": {"title": "Booking Date", "type": "string", "format": "date-time", "readOnly": true}, "status": {"title": "Status", "type": "string", "enum": ["PENDING", "CONFIRMED", "COMPLETED", "CANCELLED", "NO_SHOW"]}, "price": {"title": "Price", "description": "Price to be paid at the studio", "type": "string", "format": "decimal", "readOnly": true}, "client_notes": {"title": "Client Notes", "description": "Special requests or notes from client", "type": "string", "x-nullable": true}, "studio_notes": {"title": "Studio Notes", "description": "Internal notes from studio/trainer", "type": "string", "x-nullable": true}, "attended": {"title": "Attended", "type": "boolean"}, "attendance_marked_at": {"title": "Attendance Marked At", "type": "string", "format": "date-time", "x-nullable": true}, "is_active": {"title": "Active", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "updated": {"title": "Updated", "type": "string", "format": "date-time", "readOnly": true}}}, "StudioImage": {"type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "image": {"title": "Image", "type": "string", "readOnly": true, "format": "uri"}, "caption": {"title": "Caption", "type": "string", "maxLength": 255, "x-nullable": true}, "is_cover": {"title": "Cover Image", "description": "Main image for studio", "type": "boolean"}, "order": {"title": "Display Order", "type": "integer", "maximum": 2147483647, "minimum": 0}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}}}, "Review": {"required": ["studio", "rating"], "type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "studio": {"title": "Studio", "type": "string", "format": "uuid"}, "studio_details": {"title": "Studio details", "type": "string", "readOnly": true}, "client": {"title": "Client", "type": "string", "format": "uuid", "readOnly": true}, "client_details": {"$ref": "#/definitions/Account"}, "rating": {"title": "Rating", "description": "1-5 stars", "type": "integer", "maximum": 5, "minimum": 1}, "title": {"title": "Review Title", "type": "string", "maxLength": 255, "x-nullable": true}, "comment": {"title": "Comment", "type": "string", "x-nullable": true}, "is_verified_booking": {"title": "Verified Booking", "description": "Client actually attended a class at this studio", "type": "boolean", "readOnly": true}, "studio_response": {"title": "Studio Response", "type": "string", "readOnly": true, "minLength": 1}, "studio_response_date": {"title": "Studio Response Date", "type": "string", "format": "date-time", "readOnly": true}, "is_active": {"title": "Active", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "updated": {"title": "Updated", "type": "string", "format": "date-time", "readOnly": true}}}, "StudioList": {"type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Studio Name", "type": "string", "readOnly": true, "minLength": 1}, "city": {"title": "City", "type": "string", "readOnly": true, "minLength": 1}, "address": {"title": "Address", "type": "string", "readOnly": true, "minLength": 1}, "latitude": {"title": "Latitude", "description": "For map display", "type": "string", "format": "decimal", "readOnly": true}, "longitude": {"title": "Longitude", "description": "For map display", "type": "string", "format": "decimal", "readOnly": true}, "average_rating": {"title": "Average Rating", "type": "string", "format": "decimal", "readOnly": true}, "total_reviews": {"title": "Total Reviews", "type": "integer", "readOnly": true}, "dance_styles_details": {"type": "array", "items": {"$ref": "#/definitions/DanceStyle"}, "readOnly": true}, "cover_image": {"title": "Cover image", "type": "string", "readOnly": true}}}, "Studio": {"required": ["name", "owner", "address", "city"], "type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Studio Name", "type": "string", "maxLength": 255, "minLength": 1}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "owner": {"title": "Studio Owner", "description": "Account with STUDIO_OWNER role", "type": "string", "format": "uuid"}, "owner_details": {"$ref": "#/definitions/Account"}, "address": {"title": "Address", "type": "string", "maxLength": 500, "minLength": 1}, "city": {"title": "City", "type": "string", "maxLength": 100, "minLength": 1}, "country": {"title": "Country", "type": "string", "maxLength": 100, "minLength": 1}, "latitude": {"title": "Latitude", "description": "For map display", "type": "string", "format": "decimal", "x-nullable": true}, "longitude": {"title": "Longitude", "description": "For map display", "type": "string", "format": "decimal", "x-nullable": true}, "phone": {"title": "Phone Number", "type": "string", "maxLength": 20, "x-nullable": true}, "email": {"title": "Email", "type": "string", "format": "email", "maxLength": 254, "x-nullable": true}, "website": {"title": "Website", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "dance_styles": {"type": "array", "items": {"title": "Dance Styles", "type": "string", "format": "uuid"}, "uniqueItems": true}, "dance_styles_details": {"type": "array", "items": {"$ref": "#/definitions/DanceStyle"}, "readOnly": true}, "average_rating": {"title": "Average Rating", "type": "string", "format": "decimal", "readOnly": true}, "total_reviews": {"title": "Total Reviews", "type": "integer", "readOnly": true}, "images": {"type": "array", "items": {"$ref": "#/definitions/StudioImage"}, "readOnly": true}, "has_active_subscription": {"title": "Has active subscription", "type": "string", "readOnly": true}, "is_active": {"title": "Active", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "updated": {"title": "Updated", "type": "string", "format": "date-time", "readOnly": true}}}, "StudioSubscription": {"required": ["studio", "end_date", "price"], "type": "object", "properties": {"uuid": {"title": "Unique identifier", "type": "string", "format": "uuid", "readOnly": true}, "studio": {"title": "Studio", "type": "string", "format": "uuid"}, "studio_details": {"$ref": "#/definitions/Studio"}, "subscription_type": {"title": "Subscription Type", "type": "string", "enum": ["BASIC", "PREMIUM", "ENTERPRISE"]}, "start_date": {"title": "Start Date", "type": "string", "format": "date-time"}, "end_date": {"title": "End Date", "type": "string", "format": "date-time"}, "price": {"title": "Price", "type": "string", "format": "decimal"}, "is_paid": {"title": "Paid", "type": "boolean"}, "payment_method": {"title": "Payment Method", "description": "Kaspi Pay, Halyk Pay, etc.", "type": "string", "maxLength": 50, "x-nullable": true}, "payment_date": {"title": "Payment Date", "type": "string", "format": "date-time", "x-nullable": true}, "max_trainers": {"title": "Max Trainers", "description": "Maximum number of trainers allowed", "type": "integer", "maximum": 2147483647, "minimum": 0}, "max_slots_per_month": {"title": "Max Slots Per Month", "description": "Maximum appointment slots per month", "type": "integer", "maximum": 2147483647, "minimum": 0}, "is_active_subscription": {"title": "Is active subscription", "type": "boolean", "readOnly": true}, "days_remaining": {"title": "Days remaining", "type": "integer", "readOnly": true}, "is_active": {"title": "Active", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "updated": {"title": "Updated", "type": "string", "format": "date-time", "readOnly": true}}}}}